@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.home-bottom{
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px)
}

.sidebar {
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px)
}

.big-shadow {
    filter: drop-shadow(0 30px 30px rgb(0 0 0 / 0.25));
    -webkit-filter: drop-shadow(0 30px 30px rgb(0 0 0 / 0.25));
}

.notifications, .search, .settings {
    box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.55);
-webkit-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.55);
-moz-box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.55);
}

.sm-notifications {
    min-height: calc(100vh - 70px)
}